# Ignora as planilhas com dados de pacientes do INCA
Spreadsheets/*.xlsx
Spreadsheets/*.csv
Results/*.csv
Results/*.xlsx

*.idat
*.RData
*.Rhistory

# --- Ficheiros do RStudio ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# --- Gestão de Pacotes (renv) ---
renv/library/
renv/python/
renv/staging/

# --- Outputs de Relatórios ---
Scripts/*.html
Scripts/*.pdf